@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap");

:root {
  --red: #d01c28;
  --grey: #2e2e2e;
}

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  height: 72px;
  margin: auto;
}

ul {
  display: flex;
  list-style: none;
  gap: 24px;
  text-decoration: none;
}

button {
  all: unset;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  flex-direction: column;
  display: inline-flex;
  padding: 6px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 25px;
  height: 32px;
  font-weight: 500;
  color: white;
  background-color: var(--red);
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.hero h1 {
  font-size: 108px;
  font-weight: 800;
  line-height: 102px;
}

.hero p {
  color: var(--GRAY);
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 40px;
}

.btn2 {
  background-color: white;
  color: black;
  border: solid black 2px;
}

.market-place {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.market-place p {
  font-size: 14px;
  margin-bottom: 8px;
}

.markets {
  display: flex;
  gap: 20px;
}
